.announcement {
    padding: 0 0 0.88rem;
    margin: 0 0 0.88rem;
    border-bottom: 1px solid rgb(226, 226, 226);
  }
  #dropdown-button:button {
    position: relative;
    padding: 0.375rem 0.88rem;
    color: #ffffff;
    background-color:none;
    border-color: #ddd;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 0.85rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  #dropdown-button:button:hover {
    color: #fff;
    background-color: rgb(225, 229, 229);
  }
  #dropdown-button:button.active {
    color: #fff;
    background-color: #0069d9;
  }
  .dropdown {
    position: absolute;
    top: 63px;
    right: 0;
    width: 500px; 
    max-height: 200px;
    overflow-y: auto; 
    z-index: 1;
    border: 1px solid rgb(197, 197, 197);
    background: #2b2a2a;
    padding: 0;
    color: #0062cc;
    text-align: left;
    border-radius: 0.25rem;
  }
  
  .dropdown > button {
    margin: 0;
    padding: 0.375rem 0.88rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    width: 100%; /* Set button width to 100% of the dropdown */
    text-align: left;
  }
  
  .dropdown > button:last-child {
    border-bottom: 0 none;
  }
  

  